h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

label {
  display: block;
  margin-bottom: 10px;
}

body {
  font-weight: 400;
  font-family: "Roboto";
  font-size: 18px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn_shiny {
  width: 200px;
  height: 46px;
  color: black;
  font-size: 16px;
  -webkit-box-shadow: 0px 0px 20px 0px rgb(192, 139, 97);
          box-shadow: 0px 0px 20px 0px rgb(192, 139, 97);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFDC83), color-stop(25%, #FBD26A), color-stop(84.9%, #C17024), to(#E3A548));
  background-image: linear-gradient(180deg, #FFDC83 0%, #FBD26A 25%, #C17024 84.9%, #E3A548 100%);
}

.logo {
  font-family: "Inter";
  font-size: 30px;
  color: white;
  font-weight: 700;
}

.header {
  background-color: black;
  padding: 30px 153px 30px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__desc_socials {
  text-align: center;
  color: rgb(221, 160, 70);
  font-size: 14px;
}
.header__icon_socials {
  width: 31px;
  height: 32.5px;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: white;
  gap: 9.5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 295px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
}
.header__list_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__item_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 46px;
  background-color: rgb(56, 56, 56);
}
.header__days {
  font-weight: 700;
}
.header__number {
  font-weight: 700;
  color: rgb(221, 160, 70);
}
.header__desc {
  line-height: 16.41px;
  font-size: 14px;
  color: white;
  width: 220px;
}
.header__btn_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3px;
  background-color: transparent;
  font-size: 30px;
  width: 34.42px;
  height: 27.53px;
  color: white;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.header__desc_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9.2px;
  color: white;
  font-weight: 700;
  line-height: 21.09px;
}

.footer {
  position: relative;
  background-color: rgb(29, 26, 20);
  padding: 69px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 95px;
}
.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 41px;
}
.footer__types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.footer__list_types {
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__title_types {
  font-weight: 700;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
}
.footer__list_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.footer__link_links {
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  font-weight: 700;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.footer__title_contacts {
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  font-weight: 700;
}
.footer__list_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.footer__item_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19px;
}
.footer__desc_contacts {
  color: rgba(255, 255, 255, 0.5);
}
.footer__socials_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
}
.footer__links_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.footer__video-text {
  width: 120px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  line-height: 21.09px;
}
.footer__link {
  position: relative;
  bottom: 55px;
  right: 10px;
}

.big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}/*# sourceMappingURL=main.css.map */