.btn_shiny {
    width: 200px;
    height: 46px;
    color: black;
    font-size: 16px;
    box-shadow: 0px 0px 20px 0px rgba(192, 139, 97, 1);
    background-image: linear-gradient(180deg, #FFDC83 0%, #FBD26A 25%, #C17024 84.9%, #E3A548 100%);
}